body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.app {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #ececec;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}
